<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Tienda de: "GUSTAVO"</h1>
        <div class="menu">
            <a class="btn" href="{{ url_for('agregar_producto') }}">Agregar Producto</a>
            <a class="btn" href="{{ url_for('listar_productos') }}">Listar Productos</a>
        </div>
    </div>
</body>

<body></body>
    <div class="container">
        <h1>Segundo Parcial "TECNOLOGIAS EMERGENTES II"</h1>
        <h1>Nombre: Bismar Gustavo Colque Canaviri</h1>
        <h1>Ci:9926261</h1>      
    </div>
</body>

</html>